<div
  class="container justify-content-center"
  style="width: 400px; margin-left: auto; margin-right: auto"
>
  <!-- #USERNAME -->
  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 style="text-align: center">Staff Login</h1>
    <div class="input-group">
      <span class="input-group-text">
        <mat-icon>person</mat-icon>
      </span>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        placeholder="enter username"
      />
    </div>
    <!-- #PASSWORD -->
    <div class="input-group" style="margin-top: 5px">
      <span class="input-group-text">
        <mat-icon>vpn_key</mat-icon>
      </span>
      <input
        id="password"
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="enter password"
      />
    </div>
    <button
      style="margin-top: 5px"
      type="submit"
      [disabled]="!loginForm.valid"
      class="btn btn-success btn-block"
    >
      Login
    </button>
  </form>
</div>
