<div>
  <img
    class="bg-image"
    src="
    https://wallpaperaccess.com/full/1761712.jpg"
  />
  <mat-card class="centered example-card mat-elevation-z6">
    <mat-card-header style="justify-content: center">
      <mat-card-title
        ><p
          style="
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
            text-align: center;
            font-weight: 800;
            font-size: 28px;
            margin-top: 4px;
            margin-bottom: 16px;
          "
        >
          Staff Members Login
        </p></mat-card-title
      >
    </mat-card-header>
    <img
      mat-card-image
      style="margin-bottom: 24px"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Caduceus.svg/1200px-Caduceus.svg.png"
      alt="Photo of Caduceus"
    />
    <mat-card-content>
      <form class="example-form">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label style="font-size: 16px">Username</mat-label>
          <input
            style="font-size: 16px"
            type="text"
            id="username"
            matInput
            [formControl]="username"
          />
          <mat-error *ngIf="username.hasError('required')">
            Enter the <strong>username</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label style="font-size: 16px">Password</mat-label>
          <input
            style="font-size: 16px"
            id="password"
            type="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="password"
          />
          <button
            style="justify-content: center"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon style="font-size: 28px">{{
              hide ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">
            Enter the <strong>password</strong>
          </mat-error>
        </mat-form-field>
        <div style="text-align: center">
          <button
            style="font-family: Verdana, Geneva, Tahoma, sans-serif"
            mat-raised-button
            class="button-style"
            (click)="onSubmit()"
            type="submit"
            [disabled]="!(username.valid && password.valid)"
            color="primary"
          >
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
