.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-card {
  max-width: 400px;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-card-image {
  background-size: cover;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.box {
  border: 1px solid #222;
  width: 300px;
  height: 300px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.button-style {
  width: 140px;
  font-size: 24px;
  padding: 8px;
  margin-bottom: 8px;
  color: white;
  background-color: black;
}

/* .button-style:hover {
  background-color: darkslateblue;
  color: white;
  border-width: 1px;
  border-color: black;
} */

.bg-image {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  display: flex;
  background-color: transparent;
}

.flex-container > div {
  background-color: transparent;
  font-size: 30px;
}
