<mat-toolbar style="background-color: #e3cab8">
  <button class="btn" (click)="sidenav.toggle()">
    <i class="fa fa-bars"></i>
  </button>

  <h1
    style="
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 900;
      margin-left: 10px;
      color: black;
    "
  >
    Hospital Management System
  </h1>

  <span class="example-spacer"></span>

  <button
    style="font-family: Verdana, Geneva, Tahoma, sans-serif"
    class="btn"
    (click)="logout()"
  >
    Logout
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    opened="true"
    (opened)="log('Opened')"
    (closed)="log('Closed')"
    mode="side"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/register"
        (click)="sidenav.toggle()"
        routerLinkActive="active-link"
      >
        Register Patient Form
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle()"
        routerLink="/viewrecord"
        routerLinkActive="active-link"
      >
        View Patient Details
      </a>
      <!-- <a mat-list-item routerLinkActive="active-link"> Discharge Patient </a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: antiquewhite">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
