mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #fdf2cd;
  width: 230px;
}

.active-link {
  color: black !important;
  font-weight: bold !important;
}

.btn:hover {
  background-color: darkslateblue;
  color: white;
  border-width: 1px;
  border-color: black;
}

.example-spacer {
  flex: 1 1 auto;
}
