<mat-toolbar style="height: 80px;">
  <button class="btn" (click)="sidenav.toggle()">
    <i class="fa fa-bars"></i>
  </button>
  <h1>Hospital Management System</h1>
  <span class="example-spacer"></span>
  <button class="btn button-logout" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    opened="true"
    (opened)="log('Opened')"
    (closed)="log('Closed')"
    mode="side"
  >
    <mat-nav-list>
      <a
        style="font-size: 24px"
        mat-list-item
        routerLink="/register"
        (click)="sidenav.toggle()"
        routerLinkActive="active-link"
      >
        Register Patient Form
      </a>
      <a
        style="font-size: 24px"
        mat-list-item
        (click)="sidenav.toggle()"
        routerLink="/viewrecord"
        routerLinkActive="active-link"
      >
        View Patient Details
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- router-outlet is changing the content between registration and viewing  -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
