mat-toolbar {
  background-color: #e3cab8;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  background-color: antiquewhite;
  padding: 16px;
}

/* style for sidenav */
mat-sidenav {
  padding: 16px;
  background-color: #fdf2cd;
  width: 230px;
}

/* heading1 style changes */
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  margin-left: 10px;
  color: black;
}

/* for the active option on sidenav */
.active-link {
  color: black !important;
  font-weight: bold !important;
}

/* menu and logout button */
.btn:hover {
  background-color: darkslateblue;
  color: white;
  border-width: 1px;
  border-color: black;
}

/* send logout button to extreme right  */
.example-spacer {
  flex: 1 1 auto;
}

.button-logout {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
