.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

/* heading1 styles */
h1 {
  margin-top: 24px;
  margin-bottom: 36px;
  color: black;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* changing font for all labels */
.font-fam {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-style {
  background-color: white;
  border-color: black;
}

.input-style {
  font-size: 20px;
  border-color: black;
}

.example-full-width {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-style {
  width: 140px;
  height: 60px;
  font-size: 24px;
  padding: 8px;
  margin-top: 16px;
  color: white;
}

/* .button-style:hover {
  color: white;
  border-width: 1px;
  border-color: black;
} */

td {
  padding: 8px;
}
