<h1>Patient Registration Form</h1>

<section class="vh-100" style="background-color: #BDCCFF">
  <!-- add py-5 to the below div beside container for original card style -->
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card card-style shadow-2-strong card-registration">
          <div class="card-body p-4 p-md-5">
            <!-- using formGroup to easily get and validate form data -->
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label font-fam" for="firstName"
                      >First Name</label
                    >
                    <input
                      type="text"
                      formControlName="firstName"
                      class="form-control form-control-lg input-style"
                      placeholder="Enter Patient's First Name"
                    />
                    <div class="invalid-feedback">
                      <div>First Name is required!</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label font-fam" for="lastName"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      formControlName="lastName"
                      class="form-control form-control-lg input-style"
                      placeholder="Enter Patient's Last Name"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline">
                    <label for="Age" class="form-label font-fam">Age</label>
                    <input
                      type="number"
                      formControlName="age"
                      class="form-control form-control-lg input-style"
                      placeholder="Enter Patient's Age"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-4">
                  <label
                    style="margin-top: 1px"
                    for="gender"
                    class="form-label font-fam"
                    >Gender</label
                  >
                  <br />
                  <div style="text-align: bottom; margin-top: 8px">
                    <div class="form-check form-check-inline">
                      <label
                        style="font-size: 20px"
                        class="form-check-label"
                        for="femaleGender"
                      >
                        <input
                          style="transform: scale(1.1)"
                          type="radio"
                          formControlName="gender"
                          name="gender"
                          value="Female"
                        />
                        Female</label
                      >
                    </div>

                    <div class="form-check form-check-inline">
                      <label
                        style="font-size: 20px"
                        class="form-check-label"
                        for="maleGender"
                      >
                        <input
                          style="transform: scale(1.1)"
                          type="radio"
                          formControlName="gender"
                          name="gender"
                          value="Male"
                        />
                        Male</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label font-fam" for="emailAddress"
                      >Email</label
                    >
                    <input
                      type="email"
                      formControlName="emailAddress"
                      class="form-control form-control-lg input-style"
                      placeholder="Enter Patient's Email Address"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label font-fam" for="phoneNumber"
                      >Phone Number</label
                    >
                    <input
                      type="number"
                      formControlName="phoneNumber"
                      class="form-control form-control-lg input-style"
                      placeholder="Enter Patient's Phone Number"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label font-fam" for="patientType"
                      >Type of Patient</label
                    ><br />
                    <select
                      style="color: slategrey"
                      class="select form-control-lg btn-block"
                      formControlName="patientType"
                    >
                      <option value="" hidden selected>Patient Type</option>
                      <option value="OPD">OPD</option>
                      <option value="IPD">IPD</option>
                      <option value="Emergency">Emergency</option>
                    </select>
                  </div>
                </div>
              </div>

              <div>
                <button
                  [disabled]="!registerForm.valid"
                  type="submit"
                  class="btn btn-primary btn-primary-lg btn-block font-fam"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
