.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}

/* heading1 styles */
h1 {
  color: black;
  text-align: center;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* changing font for all labels */
.font-fam {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-style {
  background-color: white;
  border-color: black;
}

.input-style {
  font-size: 20px;
  border-color: black;
}
