<h1>Patient Registration Form</h1>
<div class="flex">
  <mat-card
    style="border-radius: 32px; width: 800px; padding: 32px"
    class="mat-elevation-z10"
  >
    <mat-card-content>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label style="font-size: 24px">First Name</mat-label>
              <input
                style="font-size: 28px"
                type="text"
                id="firstName"
                matInput
                [formControl]="firstName"
              />
              <mat-error
                style="font-size: 16px"
                *ngIf="firstName.hasError('required')"
              >
                Enter the <strong>first name</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label style="font-size: 24px">Last Name</mat-label>
              <input
                style="font-size: 28px"
                id="lastName"
                type="text"
                matInput
                [formControl]="lastName"
              />
              <mat-error
                style="font-size: 16px"
                *ngIf="lastName.hasError('required')"
              >
                Enter the <strong>last name</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label style="font-size: 24px">Age</mat-label>
              <input
                style="font-size: 28px"
                type="number"
                id="age"
                matInput
                [formControl]="age"
              />
              <mat-error
                style="font-size: 16px"
                *ngIf="age.hasError('required')"
              >
                Enter the <strong>age</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label style="font-size: 24px">Phone Number</mat-label>
              <input
                style="font-size: 28px"
                id="phone"
                type="number"
                matInput
                [formControl]="phone"
              />
              <mat-error
                style="font-size: 16px"
                *ngIf="phone.hasError('required')"
              >
                Enter the <strong>phone number</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label style="font-size: 24px">Email</mat-label>
              <input
                style="font-size: 28px"
                type="email"
                id="email"
                matInput
                [formControl]="email"
              />
              <mat-error
                style="font-size: 16px"
                *ngIf="email.hasError('required')"
              >
                Enter the <strong>email</strong>
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label style="font-size: 24px">Patient Type</mat-label>
              <mat-select [formControl]="patientType" style="font-size: 28px">
                <mat-option
                  id="patientType"
                  *ngFor="let patienttype of patienttypes"
                  [value]="patienttype.value"
                >
                  {{ patienttype.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-group
              [formControl]="gender"
              aria-label="Select an option"
            >
              <!-- <mat-label style="font-size: 16px">Gender </mat-label> -->

              <mat-radio-button
                style="font-size: 24px"
                color="primary"
                value="Male"
                >Male</mat-radio-button
              >
              <mat-radio-button
                style="font-size: 24px"
                color="primary"
                value="Female"
                >Female</mat-radio-button
              >
              <mat-radio-button
                style="font-size: 24px"
                color="primary"
                value="Other"
                >Other</mat-radio-button
              >
            </mat-radio-group>
          </td>
          <td>
            <mat-radio-group
              [formControl]="gender"
              aria-label="Select an option"
            >
              <!-- <mat-label style="font-size: 16px">Gender </mat-label> -->

              <mat-radio-button
                style="font-size: 24px; visibility: hidden"
                color="primary"
                value="Male"
                >Male</mat-radio-button
              >
              <mat-radio-button
                style="font-size: 24px; visibility: hidden"
                color="primary"
                value="Female"
                >Female</mat-radio-button
              >
              <mat-radio-button
                style="font-size: 24px; visibility: hidden"
                color="primary"
                value="Other"
                >Other</mat-radio-button
              >
            </mat-radio-group>
          </td>
        </tr>
      </table>
      <div style="text-align: center">
        <button
          style="
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 28px;
          "
          mat-raised-button
          color="primary"
          (click)="onRegister()"
          class="button-style"
          type="submit"
          [disabled]="
            !(
              firstName.valid &&
              lastName.valid &&
              age.valid &&
              phone.valid &&
              email.valid &&
              gender.valid &&
              patientType.valid
            )
          "
        >
          Register
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
